<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ivyedges</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<title>Ivy Edges- <%= yield(:title) || "How To Get Into Top Universities" %></title>

</head>
<body>

<%= yield %>

</body>
</html>
